{% load static %}
{#{% load django_bootstrap5 %}#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tabler.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabler-flags.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabler-payments.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabler-vendors.min.css' %}">
    <script src="{% static 'js/tom-select.complete.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


    <style>
      :root {
      	--tblr-font-sans-serif: 'Microsoft YaHei', '微软雅黑', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
    </style>
    <script src="{% static 'js/echarts.min.js' %}"></script>
  
    {% block css %}{% endblock %}
    {% block style %}{% endblock %}

  </head>
  <body>
      {% block main %}{% endblock %}
      {% block javascript %}
          <script src="{% static 'js/tabler.min.js' %}"></script>
      {% endblock %}
  </body>


</html>
